#textIngredients{
  max-width: 98%;
  min-width: 98%;
}
#textInstruction{
  max-width: 98%;
  min-width: 98%;
}
textarea{
  resize: none;
}
#detailBox{
  border: 1px solid black;
  padding-bottom: 10px;
}
#editButton{
  margin-right: 5px;
}
#deleteButton{
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}