body{
  background-color: white;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
th{
  background-color: darkgreen;
  border-bottom: 1px solid black;
  color: antiquewhite;
} 
tr:nth-child(even) {
  background-color: darkgreen;
  color: antiquewhite;
}


tr:nth-child(odd) {
  background-color: white;
}

#usernameinfo{
    vertical-align: middle;
}

a {
  color: antiquewhite;
  cursor: default;
}
a:hover {
  color: antiquewhite;
  border: none;

}